:root{
  --paavari: #5b5bf1;
  --tekstivari: #4b0082	;
  --tekstivari1:#020f20	;
  --apuvari:	#87cefa;
  --fonttikoko: 400;
  --otsikkofontti:900;
  --korostettufontti:600;
  --transition:.3s ease;
  --line-height:1.5rem;
}
html{
  scroll-behavior: smooth;
  height: 100%;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  transition:var(--transition);
}
body{
  font-family: Helvetica, Times, sans-serif;
  background:linear-gradient(var(--paavari) 25%,var(--apuvari) 50%,var(--apuvari) 75%, var(--paavari) 100%);
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--tekstivari1);
}
a:hover{
  color: var(--tekstivari)
}
.nimi{
  color: var(--tekstivari);
  display:flex;
  align-items:right;
  padding-right:5px;
}
nav{
  display: flex;
  justify-content:space-between;
  padding:1rem 1.5rem;
  box-shadow: 1px 2px 1px #800000;
  position:sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background:linear-gradient(lightgreen, green);
}
  .jalka{
    display: flex;
    justify-content:space-between;
    padding:1rem 1.5rem;
    box-shadow: 1px 2px 1px #800000;
    position:sticky;
    bottom: 0;
    left: 0;
    z-index: 1;
    background:linear-gradient(lightgreen, green);
  }
.nimi-logo{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

}
.logo{
  font-size:1rem;
  font-weight:400;
}
.linkit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  font-weight: var(--korostettufontti);
}
.esittely{
  max-width: 50%;
  padding-left:20px;
}
.esittely h1{
  font-size:2rem;
  margin-bottom:1rem;
}
.esittely p{
  font-size:1.2rem;
  line-height: var(--line-height);
}
.sisalto{
  max-width: 80%;
  height:60%;
  border: 2px solid;
  border-color: rgba(0,200,180,0.6);
  display:flex;
  border-radius: 10px;
  justify-content:space-between;
  align-items:center;
  box-shadow:10px 10px #888888;
}
.alkusana{
  display:flex;
  flex-wrap: wrap;
  width:50%;
  padding-left:20px;
}
.alkusana h1{
  font-size:2rem;
  margin-bottom:1rem;
}
.alkusana p{
  font-size:1.2rem;
  line-height: var(--line-height);
}
.about{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  padding-left:20px;
  padding:20px;
  width:100%;
  height:800px;
}
.alku{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  padding:20px;
  width:100%;
  height:800px;
}
.projektit{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  padding:20px;
  width:100%;
  height:800px;
}
.contact{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  padding:20px;
  width:100%;
  height:800px;
}
.kontakti{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  flex-direction: column;
}
.form{
  padding-left: 10px;

}
.form-tied{
  padding:4px;
}
.skills{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  padding:20px;
  width:100%;
  height:800px;
}
img{
  height:280px;
  width:265px;
  padding-right:20px;
}
.taidot-laatikko{
  display: flex;
  justify-content:space-evenly;
}
.taidot-laatikko1{
  display: flex;
  justify-content:space-around;
  padding-left:10px;
  padding-right:10px;
  border: 1px solid #020f20;
  background-color: lightpink;
  border-radius:50%;
  height: 100px;
  width: 100px;
}
.taidot-laatikko1 p{
  display: flex;
  justify-content:center;
  align-items:center;
  margin:15px;
}
.front{
  display: flex;
  justify-content:space-around;
  flex-direction:column;
  padding: 10px;
}
.back{
  display: flex;
  justify-content:space-around;
  flex-direction:column;
  padding: 10px;
}
.versio{
  display: flex;
  justify-content:space-around;
  flex-direction:column;
  padding: 10px;
}